<ul>
    <li>
        <a href="/ccs-50-anos" title='Jubileu de Ouro'><h3>50 anos do CCS</h3></a>
    </li>
    <li>
        <a href="/covid-19" title='Ações de enfrentamento à COVID-19'><h3>COVID-19</h3></a>
    </li>
    <li>
        <a href="/planids/consulta-publica" title='fale conosco'><h3>Planid - consulta pública</h3></a>
    </li>
    <li>
        <a href="/conteudos/conselho-coordenacao" title='Conselho de Coordenação'><h3>Conselho de Coordenação</h3></a>
    </li>    
    <li>
        <a href="http://www.bib.ccs.ufrj.br" target="_blank" rel="noopener noreferrer " title='Biblioteca Central do CCS'><h3>Biblioteca Central</h3></a>
    </li>    
    <li>
        <a href="/busca?input-busca-geral=oportunidades%26editais" title='oportunidades e editais'><h3>Oportunidades e editais</h3></a>
    </li>     
    <li>
        <a href="/conteudos/pbv" title='Pós-Graduação em Biotecnologia Vegetal'><h3>PG Biotecnologia Vegetal</h3></a>
    </li>   
    <li>
        <a href="/live-video" title='Transmissões ao vivo'><h3>Transmissões ao vivo</h3></a>
    </li>
    <li>
        <a href="/equipe-decania" title='Equipe da Decania do CCS'><h3>Equipe</h3></a>
    </li>
    <li>
        <a href="/fale-conosco" title='fale conosco'><h3>Fale conosco</h3></a>
    </li>
    <li>
        <span><h3 class='abrir-popup-telefones-uteis'>Telefones de emergência</h3></span>
    </li>
</ul>
