<div id="consulta-agenda">
    <div id="datepickerDiaEvento"></div>
    <div class="agenda-dias">
        <div id="consultas-dia-container">
            <div id="dia" class="dia"><!--incluir classe para informar se o dia tem alguma reserva (para o datepicker-->
                <div class="dia-header controles-direcionais-div">
                    <i class="fa fa-caret-left"></i>
                    <h2><!--xx de mês--></h2>
                    <i class="fa fa-caret-right"></i>
                    <span><!--dia da semana--></span>
                </div>
                <div class="auditorios">
                    <p>Hélio Fraga</p>
                    <p>Quinhentão</p>
                    <p>Aud. Bl. N</p>
                    <p>Sl N-202</p>
                    <p>Bezão</p>
                    <p>Aud. Bibl.</p>
                    <p>Sl N-106</p>
                </div>
                <div id="horarios"><h2>Feriado</h2>
                </div>
            </div>
        </div>
        <div class="legenda">
            <div class="legenda-item">
                <div class="legenda-reservado"></div> <span>Horário reservado</span>
            </div>
            <div class="legenda-item">
                <div class="legenda-analise"></div> <span>Pedido em análise</span>
            </div>
        </div>
    </div>
</div>