<div class="agenda-wrapper">
    <section id="secao-agenda" class="agenda index-secao">
        <div class="div-angle">
            <i class="fa fa-angle-down fa-angle"></i>
        </div>
        <div class="div-icon"><i class="fa fa-calendar text-shadow-inset icone-secao"></i><h2>AGENDA</h2></div>
        {{> agenda}}
    </section>
</div>