#PATHS
PATH_TO_DOCS = "public/docs"

# MONGOOSE URIs
MONGODB_URI="mongodb://<username>:<password>@<domain_address_or_ip>:<port>/<database_name>"
#LOCALHOST="mongodb://localhost:27017/<database_name>"

#API KEYS
CLOUDINARY_CLOUD_NAME="cloudinary_username"
CLOUDINARY_API_KEY="api_key"
CLOUDINARY_API_SECRET="api_secret"
GOOGLE_CALENDAR_ID = "calendar_id"
GOOGLE_CALENDAR_API_KEY = "calendar_api_key"

#EMAIL ACCOUNTS
MANUTENCAO_MAIL="mail"
ESTACIONAMENTOS_MAIL="mail"
ALMOXARIFADO_MAIL="mail"
ATGERENCIAIS_MAIL = "mail"
ASCOM_MAIL="mail"
USERMAIL="mail"
USERPASS="password"

#MISCELANEOUS
CHAVE_EXPRESS_SESSION="any_string"
ENCRYPT_SECRET="any_string"
NODE_ENV="development_or_production"