{{> header}}
{{> topBarDesktop}}
<main class="alterar-senha-container">
    <form method="post" id="formNovaSenha" action="/alterarsenha" class="formulario">    
    {{{formulario}}}  
        <input type='hidden' name='_csrf' value={{csrfToken}} >
        <div>
            <button class='btn-base' type="submit">Confirmar</button>
        </div>
    </form>
</main>
{{> footer}}