{{> header}}
{{> topBarDesktop}}
<input type='hidden' name='userId' value={{userId}}>
<input type='hidden' name='_csrf' value={{csrfToken}}>
<main class='dashboard-section__main deslocar'>
  <section class='dashboard-section__identificacao'>
    <div class='dashboard-section__user-details'></div>
    <section class='dashboard-section dashboard-section__dados-gerais'></section>
  </section>
  <section class='dashboard-section__aplicacoes'>
    <div class='dashboard-section__aplicacoes-header'></div>
    <div class='dashboard-section__aplicacoes-body-container'>
      <div class='dashboard-section__aplicacoes-body'></div>
    </div>
  </section>
</main>
<link rel="stylesheet" href="/dist/styles/dashboard.min.css">
<script src="/dist/scripts/utilidadesSistemas.min.js" defer></script>
<script src="/dist/scripts/dashboard.min.js" defer></script>
{{> footer}}