{{> header}}
{{> topBarDesktop}}
<main class="erro deslocar">
    <div class="icon-erro"><i class="fa fa-times"></i></div> 
    <h1>Erro!</h1>
    {{{mensagem}}}
    <p>Clique no botão abaixo para retornar à página principal</p>
    <a href="/" title='retornar para a página principal do Portal do CCS'><button class='btn-base'>Retornar</button></a>
</main>
{{> footer}}