{{> header}}
{{> topBarDesktop}}
  <div class='planid-impressao deslocar'>
    <input type='hidden' name='_csrf' value='{{csrfToken}}' >
    <div class='print__container planids-imprimir  planids-homologar'></div>
  </div>    

  <link rel="stylesheet" href="/dist/styles/planidImprimir.min.css">    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" defer></script>
  <script src="/dist/scripts/utilidadesSistemas.min.js" defer></script>
  <script src="/dist/scripts/planidUtils.min.js" defer></script>
  {{!-- <script src="/dist/scripts/planidImprimir.min.js" defer></script> --}} {{!-- Arquivo carregado em planidUtils.js --}}
{{> footer}}