{{> header}}
{{> topBarDesktop}}
<main class="deslocar planids-consolidar">
  <input type='hidden' class='csrf-token' value='{{csrfToken}}' name="_csrf">   
  <div class='planids-consolidacao__main'>

    <div class='planids-consolidacao__selecao-semestre'></div>
    <div class='planids-consolidacao__pesquisas'></div>
  </div>  
</main>
<script src="/dist/scripts/utilidadesSistemas.min.js" defer></script>
<script src="/dist/scripts/planidUtils.min.js" defer></script>
<script src="/dist/scripts/planidEstatisticas.min.js" defer></script>
<script src="/dist/scripts/planidConsolidar.min.js" defer></script>
<link rel="stylesheet" href="/dist/styles/planidHomologar.min.css">
{{> footer}}