{{> header}}
{{> topBarDesktop}}
<main class="sucesso deslocar">
    <div class="icon-sucesso"><i class="fa fa-check"></i></div> 
    <h1> Sucesso!</h1>
    {{{mensagem}}}
    <p>Clique no botão abaixo para retornar ao Portal do CCS</p>
    <a href="/" title='retornar à página principal do Portal do CCS'><button class='btn-base'>Retornar</button></a>
</main>
{{> footer}}