@mixin containerBasic {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

@mixin containerFull {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
@mixin containerCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin basicFlex {
    display: flex;
    flex-flow: row wrap;
}

@mixin button {
    padding: 10px 15px;
    border: 2px solid;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
}

@mixin osciladorVertical {
    animation: {
        name: osciladorVertical;
        duration: 0.6s;
        iteration-count: infinite;
        timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
        fill-mode: forwards;
    };
}

@mixin dropCaps {
    color: $vermelho;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

@mixin legendaConteudo {
    margin: 0;
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    color: #ccc;
    font-family: 'Roboto Condensed';
    font-size: 0.7em;
    position: absolute; 
    width: 100%;
    bottom: 11px;
    right: 0;
    border-top: 1px solid #000;
    text-align: left;
}

@mixin botao {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    opacity: 0.75;
}

@mixin btn-acao($cor) {    
    display: inline-block;
    padding: 10px 18px !important;
    width: unset;
    margin: 0 10px;
    background-color: $cor;
    color: #fff;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
    &:hover {
        background-color: darken($cor, 10%) !important;
    }
}

@mixin fonte-titulo {
    font-family: $fonteTitulo;
    font-weight: bold;
}

@mixin menu-icon {    
    background-color: rgba(8, 8, 8, 0.15);
    padding-left: 12px;
    position: absolute;
    height: 50px;
    right: 0;
    top: 0; 
    padding: 12px 25px;
    pointer-events: none;      
}

@mixin caret($color) {    
    font-size: 1.5rem !important;
    cursor: pointer;
    padding: 5px 15px;   
    color: $color;       
}

@mixin card($max-width, $header-color, $body-color) {
    width: 95%;
    max-width: $max-width;
    margin: 10px;
    &__header {
        background-color: $header-color;
        color: #fff;
        padding: 10px 10px 10px 20px;
        border-radius: 5px 5px 0 0;
        font-size: 1.1rem;
    }
    &__body {
        background-color: #eee;
        padding: 10px;
        border-radius: 0 0 5px 5px;     
        font-size: .9rem;   
    }
    &__p {
        padding-left: 8px;
    }
    &__atributo {
        font-weight: bold;
        margin-right: 8px;
    }
}